# Obtain data of AGN from SIMBAD, filtering the objects with data of [Ne II], [Ne III] and [Ne V] in infrared from NED Phot Tables and saving it

In this notebook we develop the code to Obtain the data of AGNs type Sy1 (Seyfert 1), Sy2 (Seyfert 2) and SyG (Seyfert Galaxies) from **[SIMBAD](http://simbad.u-strasbg.fr/simbad/sim-tap)** (SMB) and then search each object from the SMB sample in **[NED](https://ned.ipac.caltech.edu/)** to obtain the photometric data and filter all the objects from the sample that contain data of the emission lines of Ne II, Ne III and Ne V in infrared.

The part of the code to obtain the data from SIMBAD is based in Andres Ramos's work to obtain Seyfert Samples (https://github.com/aframosp/AGNView).

In [1]:
# If this notebook will be run in Google Colab, first at all the next code must be run. If the notebook will be run in Jupyter
#then "comment" or omit this part 

import sys
IN_COLAB = 'google.colab' in sys.modules

if IN_COLAB:
    !pip install astroquery

In [2]:
from datetime import date
import time
import requests
import numpy as np

import pyvo
from astroquery.ipac.ned import Ned
from astroquery.simbad import Simbad

from pathlib import Path
from requests import Request, Session

import astropy.units as u
from astropy.table import hstack, QTable, Table
from astropy.coordinates import SkyCoord

In the next cell we define the paths and create the folders where we will save the data downloaded from the different Data Bases:

In [3]:
path_raw='../Datos/Raw/'
Path(path_raw).mkdir(parents=True, exist_ok=True)
path_phot_ned = '../Datos/Work/Phot_Tables_NED/' #In this path wi will save the photometry tables for each object
Path(path_phot_ned).mkdir(parents=True, exist_ok=True)

Using the package **[PyVO](https://pyvo.readthedocs.io/en/latest/#)** we can access to remote data and services like the **TAP Service of SIMBAD [SIMBAD](http://simbad.u-strasbg.fr/simbad/sim-tap)** to find and retrieve the astronomical data that we need, in this case: Seyfert Galaxies. To achive that, we use a script with **[ADQL](https://www.ivoa.net/documents/latest/ADQL.html) (Astronomical Data Query Language)**, which is based on SQL.

On the script we used the next **Field Names** for VOTable ouput:
- ra: Right ascension
- dec: Declination
- coo_bibcode: Bibliographical reference for coordinates
- otype_txt: Object type
- rvz_bibcode: Bibliographical reference of radial velocity and redshift
- rvz_radvel: Stored value. Either a radial velocity, or a redshift, depending on the rvz_type field 
- rvz_redshift
- rvz_type: Stored type of velocity: 'v'=radial velocity, 'z'=redshift
- nbref: bibliographical reference

~~~~sql
SELECT main_id
    ,ra
    ,dec
    ,coo_bibcode
    ,otype_txt
    ,rvz_bibcode
    ,rvz_radvel
    ,rvz_redshift
    ,rvz_type
    ,nbref
    ,ids.ids
    ,alltypes.otypes
FROM basic
JOIN ids ON oid = ids.oidref
JOIN alltypes ON oid = alltypes.oidref
WHERE basic.otype = 'Sy1'
    OR basic.otype = 'Sy2'
    OR basic.otype = 'SyG'
~~~~

In [4]:
service = pyvo.dal.TAPService("http://simbad.u-strasbg.fr:80/simbad/sim-tap")

result = service.search("""
SELECT main_id
    ,ra
    ,dec
    ,coo_bibcode
    ,otype_txt
    ,rvz_bibcode
    ,rvz_radvel
    ,rvz_redshift
    ,rvz_type
    ,nbref
    ,ids.ids
    ,alltypes.otypes
FROM basic
JOIN ids ON oid = ids.oidref
JOIN alltypes ON oid = alltypes.oidref
WHERE basic.otype = 'Sy1'
    OR basic.otype = 'Sy2'
    OR basic.otype = 'SyG'
""")

We extract the object name (or in this case the main id) from the sample result.

In [5]:
simbad_sample_Sy = result.to_table()
obj_name_SMB=simbad_sample_Sy["main_id"]
obj_ids_SMB=simbad_sample_Sy["ids"]
len(simbad_sample_Sy)

44270

We save the date in a variable for use later in the file names of the results

In [6]:
today = date.today()
today.strftime('%b_%d_%Y')

'Sep_02_2022'

In [7]:
INIT_URL = 'http://vizier.u-strasbg.fr/viz-bin/sed?-c='
urls = [INIT_URL+str(simbad_sample_Sy['ra'][row])+'%20'+
        str(simbad_sample_Sy['dec'][row])+'&-c.rs=5' for row in range(len(simbad_sample_Sy))]
simbad_sample_Sy['cds_url'] = urls

Cell for search a specific id in the SMB sample

In [8]:
idS = ['3C 234.0'] #Id to search
idx = [np.where(simbad_sample_Sy['main_id'] == idt)[0] for idt in idS]
print(obj_name_SMB[idx[0]])
print('SMB sample index: ',idx[0][0])
obj_smb = obj_name_SMB[2789:2795]

main_id
--------
3C 234.0
SMB sample index:  283

The sample results is saved in a .vot file:

In [9]:
simbad_sample_Sy.write(path_raw+'SMB_'+today.strftime('%b_%d_%Y')+'_Sy_Samples'+'.vot',
                    format='votable',overwrite=True)

### Function to download the Photometry tables from [NED](https://ned.ipac.caltech.edu/).

To get the photometry tables from NED, we use **[Astroquery](https://astroquery.readthedocs.io/en/latest/index.html)** package. In the function **photNED** first we try to obtain the photometry table with the ID name of the object from the SIMBAD sample. If there is not result, then with Astroquery we will search the others objects ID, and with that, search the information in NED. If finallly is not possible to find information with the objects ID, then we will try using its coordinates.

In [10]:
def photNED(name,oids,coord):
    
    '''
    This function is to get the photometry tables
    from NED. The input are the id and coordinates
    of the object.
    '''
    
    phot_ned = QTable()
    id_used = []
    
    try:
        phot_ned = Ned.get_table(name, table='photometry') #We get the Photometry Table using first SIMBAD names
        id_used = name
        #print('Using main SMB id\n')
    except:
        other_ids = oids.split('|')
        #other_ids = Simbad.query_objectids(name) #We get other IDs for the object from SIMBAD using astroquery
        for other_id in other_ids:
            try:
                phot_ned = Ned.get_table(other_id, table='photometry') #Photometry Table using other SIMBAD names
                id_used = other_id
                #print('Trying other id')
                break
            except:
                pass
    if id_used == []:
        try:
            region = Ned.query_region(coord,radius= 5 * u.arcsec)
            id_ned = region["Object Name"]
            phot_ned = Ned.get_table(id_ned, table='photometry')
            id_used = id_ned
            #print('Using region\n')
        except:
            pass

    return phot_ned, id_used

Using **SkyCoord** from astropy we extract the coordinates information for each object from the SIMBAD samples. This is useful if we want to search information in [NED](https://ned.ipac.caltech.edu/) using coordinates instead the object name

In [11]:
cat_smb_sample = SkyCoord(ra=simbad_sample_Sy['ra'], dec=simbad_sample_Sy['dec'])

### Filtering the Sample: Objects with [Ne II], [Ne III] and [Ne V] information. Downloading the NED Tables:

The wavelenght for NeII, NeIII and NeV in the infrared spectrum are 12.8 microns, 15.6 microns and 14.3 microns respectively, but in some cases inside NED tables there is also some filters for this lines reported in 12.81 microns for [Ne II], 15.5, 15.55 and 15.56 for [Ne III] and 14.32 for [Ne V].

* Wavelenght 12.8 microns -> Frequency 2.344e+13 Hz ([Ne II])
* Wavelenght 12.81 microns -> Frequency 2.342e+13 Hz ([Ne II])
* Wavelenght 14.3 microns -> Frequency 2.098e+13 Hz ([Ne V])
* Wavelenght 14.32 microns -> Frequency 2.095e+13 Hz ([Ne V])
* Wavelenght 15.5 microns -> Frequency 1.935e+13 Hz ([Ne III])
* Wavelenght 15.55 microns -> Frequency 1.929e+13 Hz ([Ne III])
* Wavelenght 15.56 microns -> Frequency 1.928e+13 Hz ([Ne III])
* Wavelenght 15.6 microns -> Frequency 1.923e+13 Hz ([Ne III])


Because in NED tables the frequency has a rounded value for three significant numbers, then we will use the next values: 

* Frequency: 1.92e+13 Hz: [NeIII]
* Frecuency: 1.93e+13 Hz: [Ne III]
* Frecuency: 2.09e+13 Hz: [Ne V]
* Frequency: 2.10e+13 Hz: [Ne V]
* Frequency: 2.34e+13 Hz: [Ne II

In the variable **Ne_IR_Fq** we define a list with the those frequency values

In [12]:
Ne_IR_Fq = np.array([19200000000000.0,19300000000000.0,20900000000000.0,21000000000000.0,23400000000000.0])*u.Hz

The filter for the objects with Ne Line Emissions in Infrared will be looking in the column **"Frequency"** of the photometry tables that we got from NED the values of the list defined in Ne_IR_Freq. Then, in a second fliter we are going to classify according to what information the Ne II, Ne III and Ne V emission lines each have.

In [13]:
def FilterbyNeFreq(NEDTable, Freq):
    
    NEDTable.remove_rows(np.where(NEDTable['Flux Density'].mask)[0])
    NEDTable.remove_rows(np.where(NEDTable['NED Units'] == 'Jy')[0])
    #NEDTable.remove_rows(np.where(NEDTable['NED Uncertainty'] == '')[0])
    #NEDTable.remove_rows(np.where(NEDTable['NED Uncertainty'] == '+/-...')[0])
    NEDTable.remove_rows(np.where(NEDTable['Observed Passband'] == '[Cl II] line (IRS)')[0])
    NEDTable.remove_rows(np.where(NEDTable['Observed Passband'] == '[Cl II] 14.4 (IRS)')[0])
    NEDTable.remove_rows(np.where(NEDTable['Observed Passband'] == '[Cl II] (IRS)')[0])
    NEDTable.remove_rows(np.where(NEDTable['Observed Passband'] == '[Cl II] 14.37 (IRS)')[0])
    
    f = np.array([NEDTable['Frequency']])*u.Hz #We get the Frequency column from the table
    intersec = np.intersect1d(Freq, f) #Intersection between Fr and Ne_IR_Fq
   
    return intersec

In [ ]:
NeIR_obj_t = QTable(names=('Main_Id','Id_used_NED','RA','DEC','otype_txt','redshift',
                           'rvz_type','ids','otypes','cds_url','SMB_sample_index'),
                    dtype=('O','O','f8','f8','O','f8','U1','O','O','U93','f8'))

Ne_Inf = []

print(f"{'#':4} {'Idx':6} {'Name ID':^27} {'ID used in NED':^27} {'Ne IR Info':^20}")
i=-1
start = time.time()
for ind, id_smb in enumerate(obj_name_SMB):
    try:       
        #print('\nIdx SIMBAD: ',ind,' main_id: ',id_smb)
        phot_T,name_NED = photNED(id_smb,obj_ids_SMB[ind],cat_smb_sample[ind])
        #Save table again for work with it before save the original one
        phot_t,name_ned = photNED(id_smb,obj_ids_SMB[ind],cat_smb_sample[ind])
        ins = FilterbyNeFreq(phot_t, Ne_IR_Fq) #Search for the [Ne] frequencies in NED table
        
        if len(ins)>0: #First filter: If the phot table has infomation of frequencies of Fq            
            #print(ins)
            i=i+1
            phot_T.write(path_phot_ned+id_smb+'_NED_phot_tables'+'.vot', #Save the phot table in a vot table file
                            format='votable',overwrite=True)
            NeIR_obj_row = [id_smb,name_ned,simbad_sample_Sy["ra"][ind],simbad_sample_Sy["dec"][ind],
                            simbad_sample_Sy["otype_txt"][ind],simbad_sample_Sy["rvz_redshift"][ind],
                            simbad_sample_Sy["rvz_type"][ind],simbad_sample_Sy["ids"][ind],
                            simbad_sample_Sy["otypes"][ind],simbad_sample_Sy["cds_url"][ind],ind] 
            NeIR_obj_t.add_row(vals=NeIR_obj_row)
            
            if (Ne_IR_Fq[0] in ins or Ne_IR_Fq[1] in ins)and (Ne_IR_Fq[2] in ins or Ne_IR_Fq[3] in ins)\
            and Ne_IR_Fq[4] in ins: #Second filter to classify according the Ne info after remove empty flux values
                Ne_info = 'NeII|NeIII|NeV'
            elif (Ne_IR_Fq[0] in ins or Ne_IR_Fq[1] in ins) and Ne_IR_Fq[4] in ins:
                Ne_info = 'NeII|NeIII'
            elif (Ne_IR_Fq[2] in ins or Ne_IR_Fq[3] in ins) and Ne_IR_Fq[4] in ins:
                Ne_info = 'NeII|NeV'
            elif (Ne_IR_Fq[0] in ins or Ne_IR_Fq[1] in ins) and (Ne_IR_Fq[2] in ins or Ne_IR_Fq[3] in ins):
                Ne_info = 'NeIII|NeV'
            elif Ne_IR_Fq[0] in ins or Ne_IR_Fq[1] in ins:
                Ne_info = 'NeIII'
            elif Ne_IR_Fq[2] in ins or Ne_IR_Fq[3] in ins:
                Ne_info = 'NeV'
            elif Ne_IR_Fq[4] in ins:
                Ne_info = 'NeII'
            else:
                Ne_info = 'No Flux Values' 
            Ne_Inf.append(Ne_info)
            print(f"{'%g'%i:4} {'%g'%ind:6} {'%s'%id_smb:^27} {'%s'%name_ned:^27} {'%s'%Ne_info:^20}")
    
    except KeyError:
        pass

end = time.time()

print('\nTotal objects with lines emission of NeII or NeIII or NeV in IR  found: ',len(NeIR_obj_t))
print('Execution Time(seg): ' + str(end - start))
print('Execution Time(min): ' + str((end - start)/60))
print('Execution Time(hrs): ' + str((end - start)/3600))

#    Idx              Name ID                 ID used in NED             Ne IR Info
0    283             3C 234.0                    3C 234.0              NeII|NeIII|NeV
1    428      2MASS J13000535+1632148       NVSS J130005+163212          NeII|NeIII
2    484             NGC   262                   NGC   262             NeII|NeIII|NeV
3    541          IRAS 04385-0828             IRAS 04385-0828          NeII|NeIII|NeV
4    628             NGC  4945                   NGC  4945             NeII|NeIII|NeV
5    654              IC 4553                     IC 4553                NeII|NeIII
6    852             Mrk  279                    Mrk  279              NeII|NeIII|NeV
7    1227            UGC 11680                   UGC 11680                  NeII
8    1246          LEDA   45656                LEDA   45656               NeII|NeV
9    1282            Mrk 1239                    Mrk 1239              NeII|NeIII|NeV
10   1341          LEDA   89032                LEDA   89032              NeII|NeIII
11   1424          NAME 3C 330G2                1Jy 1609+66              NeIII|NeV
12   1734            NGC  7479                   NGC  7479               NeII|NeIII
13   1801          LEDA 3095998                LEDA 3095998                 NeII
14   1884            NGC  3735                   NGC  3735             NeII|NeIII|NeV
15   1917            NGC  4477                   NGC  4477               NeII|NeIII
16   1936          LEDA   89511                LEDA   89511            NeII|NeIII|NeV
17   2115             Z 218-7                     Z 218-7              NeII|NeIII|NeV
18   2351            Mrk  493                    Mrk  493              NeII|NeIII|NeV
19   2408            NGC  4941                   NGC  4941             NeII|NeIII|NeV
20   2469            Mrk  883                    Mrk  883                NeII|NeIII
21   2551     2MASS J22255427+1958370     2MASX J22255423+1958372      NeII|NeIII|NeV
22   2569          LEDA   90196                LEDA   90196            NeII|NeIII|NeV
23   2790          MCG+04-48-002               MCG+04-48-002           NeII|NeIII|NeV
24   2847    [VV2000] J235225.0+244009        IRAS 23498+2423          NeII|NeIII|NeV
25   2914             3C 196                      3C 196                 NeIII|NeV
26   2975     2MASX J10032788+5541535     2MASX J10032788+5541535           NeV
27   3031            NGC  2622                   NGC  2622             NeII|NeIII|NeV
28   3213            NGC   863                   NGC   863             NeII|NeIII|NeV
29   3838         IRAS 11215-2806             IRAS 11215-2806          NeII|NeIII|NeV
30   4314            NGC  3281                   NGC  3281             NeII|NeIII|NeV
31   4524          LEDA  101275                LEDA  101275            NeII|NeIII|NeV
32   4553      NAME Circinus Galaxy            Anon 1409-65            NeII|NeIII|NeV
33   4603             IC 3639                     IC 3639              NeII|NeIII|NeV
34   5069            Mrk  926                    Mrk  926              NeII|NeIII|NeV
35   5523            Mrk  463E                   Mrk  463E             NeII|NeIII|NeV
36   5532            NGC  4235                   NGC  4235               NeII|NeIII
37   5589         IRAS 15480-0344             IRAS 15480-0344          NeII|NeIII|NeV
38   5604            UGC  6728                   UGC  6728             NeII|NeIII|NeV
39   5696            NGC  1142                   NGC  1142             NeII|NeIII|NeV
40   5889            NGC  1365                   NGC  1365             NeII|NeIII|NeV
41   6022            NGC  1056                   NGC  1056               NeII|NeIII
42   6616            NGC  7410                   NGC  7410                  NeII
43   6868            Mrk  352                    Mrk  352                NeII|NeIII
44   7205          LEDA 1365424                LEDA 1365424              NeIII|NeV
45   7619          LEDA   27453                LEDA   27453                NeIII
46   7696           NAME Cyg A            2MASX J19592833+4044022      NeII|NeIII|NeV
47   7790            Mrk  877                    Mrk  877                   NeII
48   7878            ESO 148-2                   ESO 148-2             NeII|NeIII|NeV
49   7978            Mrk 1383                    Mrk 1383              NeII|NeIII|NeV
50   8263            NGC  7592                   NGC  7592                  NeV
51   8351            NGC  3998                   NGC  3998               NeII|NeIII
52   8476         QSO B1626+5529         WISEA J162756.11+552231.5        NeII|NeV
53   8517            Mrk    9                    Mrk    9              NeII|NeIII|NeV
54   8691            Mrk 1513                    Mrk 1513              NeII|NeIII|NeV
55   8847            NGC  4939                   NGC  4939             NeII|NeIII|NeV
56   9328            NGC  4151                   NGC  4151             NeII|NeIII|NeV
57   9394           ESO 434-40                  ESO 434-40             NeII|NeIII|NeV
58   9430          LEDA   37102                LEDA   37102              NeII|NeIII
59   9540           ESO 323-77                  ESO 323-77             NeII|NeIII|NeV
60   9549            FRL   49                    FRL   49              NeII|NeIII|NeV
61   9582          LEDA   50824                LEDA   50824            NeII|NeIII|NeV
62   10128         LEDA   29208                LEDA   29208                 NeII
63   10327           NGC    34                   NGC    34               NeII|NeIII
64   10534           Mrk  471                    Mrk  471              NeII|NeIII|NeV
65   10540           NGC  7679                   NGC  7679             NeII|NeIII|NeV
66   10649   SDSS J143417.15+020742.3    SDSS J143417.15+020742.3          NeIII
67   10672        IRAS 11119+3257             IRAS 11119+3257            NeII|NeIII
68   10786            IC 1065                     IC 1065              NeII|NeIII|NeV
69   10900    2MASX J14305363+3458364     2MASX J14305363+3458364           NeII
70   10982             M  81                       M  81                 NeII|NeIII
71   11175    2MASS J14533151+1353587     2MASS J14533150+1353585        NeII|NeIII
72   11242           NGC  2639                   NGC  2639               NeII|NeIII
73   11289           NGC   513                   NGC   513             NeII|NeIII|NeV
74   11294   NAME IRAS F15163+4255 NW         GB6 J1518+4243             NeII|NeIII
75   11378          ESO 383-35                  ESO 383-35             NeII|NeIII|NeV
76   11419     NAME IRAS 09111-1007W      2MASX J09133644-1019296           NeV
77   11592           NGC   973                   NGC   973             NeII|NeIII|NeV
78   11593           2E  3648             2MASSI J1620218+173624       NeII|NeIII|NeV
79   12121    2MASX J22041914+0333511     2MASX J22041914+0333511      NeII|NeIII|NeV
80   12370           NGC  7469                   NGC  7469             NeII|NeIII|NeV
81   12510       IRAS F08216+3009            IRAS F08216+3009          NeII|NeIII|NeV
82   12548    2MASX J08035923+2345201     2MASX J08035923+2345201          NeIII
83   12665           NGC  7591                   NGC  7591               NeII|NeIII
84   12682    2MASS J08105865+7602424     2MASS J08105865+7602424          NeIII
85   12933        IRAS 15091-2107             IRAS 15091-2107          NeII|NeIII|NeV
86   13406           UGC 12282                   UGC 12282             NeII|NeIII|NeV
87   13542    2MASS J14294306+4747262     2MASS J14294306+4747262           NeII
88   13630         MCG+10-17-021               MCG+10-17-021           NeII|NeIII|NeV
89   13718          ESO 113-45                  ESO 113-45             NeII|NeIII|NeV
90   13941           NGC  4388                   NGC  4388             NeII|NeIII|NeV
91   14155           NGC  5899                   NGC  5899             NeII|NeIII|NeV
92   14157         LEDA 3096524          WISEA J165939.77+183436.7     NeII|NeIII|NeV

93   14382           NGC  5728                   NGC  5728             NeII|NeIII|NeV
94   14458          ESO 140-43                  ESO 140-43             NeII|NeIII|NeV
95   14562            IC 1816                     IC 1816              NeII|NeIII|NeV
96   14590   SDSS J161647.32+371621.2    SDSS J161647.32+371621.2        NeIII|NeV
97   14665           ESO 417-6                   ESO 417-6             NeII|NeIII|NeV
98   14861           NGC   788                   NGC   788             NeII|NeIII|NeV
99   14910            2C 1066                   1Jy 1254+47              NeII|NeIII
100  14946            IC 5298                     IC 5298                   NeV
101  14957            IC 5063                     IC 5063              NeII|NeIII|NeV
102  15090           PB  3894                    PB  3894                NeIII|NeV
103  15224             M  88                       M  88                 NeII|NeIII
104  15262           NGC  4602                   NGC  4602                NeII|NeV
105  15276        IRAS 13342+3932             IRAS 13342+3932             NeII|NeV
106  15289           NGC  1241                   NGC  1241             NeII|NeIII|NeV
107  15364           NGC  4138                   NGC  4138             NeII|NeIII|NeV
108  15450           NGC  1566                   NGC  1566             NeII|NeIII|NeV
109  15629           NGC  1808                   NGC  1808               NeII|NeIII
110  15957     ICRF J054236.1+495107       ICRF J054236.1+495107           NeIII
111  16059           Mrk  304                    Mrk  304              NeII|NeIII|NeV
112  16100           Mrk 1298                    Mrk 1298                 NeII|NeV
113  16219     2XMM J135315.8+634546       2XMM J135315.8+634546         NeII|NeIII
114  16349           Mrk 1095                    Mrk 1095              NeII|NeIII|NeV
115  16436        IRAS 15206+3342             IRAS 15206+3342            NeII|NeIII
116  16548    2MASS J10520202+5633010     2MASS J10520202+5633010        NeII|NeIII
117  16630    2MASX J14510879+2709272     2MASX J14510879+2709272         NeII|NeV
118  16878            IC  486                     IC  486              NeII|NeIII|NeV
119  16980           Mrk  618                    Mrk  618              NeII|NeIII|NeV
120  17006           NGC  5273                   NGC  5273               NeII|NeIII
121  17034           Mrk  609                    Mrk  609              NeII|NeIII|NeV
122  17351           NGC  3079                   NGC  3079             NeII|NeIII|NeV
123  17429         LEDA  165618                LEDA  165618                 NeII
124  17880        IRAS 03450+0055             IRAS 03450+0055            NeII|NeIII
125  17929           3C 343.1                    3C 343.1                NeII|NeIII
126  18240            2C   94                   1Jy 0106+13            NeII|NeIII|NeV
127  18244           Ton  182                    Ton  182                   NeII
128  18247         MCG+13-07-002               MCG+13-07-002              NeII|NeV
129  18511           NGC  5548                   NGC  5548             NeII|NeIII|NeV
130  18720     ICRF J145907.5+714019       ICRF J145907.5+714019         NeIII|NeV
131  18768           NGC   424                   NGC   424             NeII|NeIII|NeV
132  18836           Mrk  509                    Mrk  509              NeII|NeIII|NeV
133  19391           ESO   5-4                   ESO   5-4             NeII|NeIII|NeV
134  19461           NGC   660                   NGC   660             NeII|NeIII|NeV
135  19539           NGC  2992                   NGC  2992             NeII|NeIII|NeV

In [ ]:
NeIR_obj_t['NED_Ne_IR_info'] = Ne_Inf #Add a column to save the Ne info
NeIR_obj_t.show_in_notebook()

In [ ]:
NeIR_obj_t.write(path_raw+'Obj_Ne-IR_'+today.strftime('%b_%d_%Y')+'.vot',
                    format='votable',overwrite=True)

In [ ]:
NeII_NeIII_NeV_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeII|NeIII|NeV')[0] #List of objects with NeII, NeIII and NeV data
NeII_NeIII_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeII|NeIII')[0] #List of objects with NeII and NeIII data
NeII_NeV_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeII|NeV')[0] #List of objects with NeII and NeV data
NeIII_NeV_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeIII|NeV')[0] #List of objects with NeIII and NeV data
NeIII_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeIII')[0] #List of objects with NeIII data
NeV_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeV')[0] #List of objects with NeV data
NeII_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'NeII')[0] #List of objects with NeII data
No_Ne_IR = np.where(NeIR_obj_t['NED_Ne_IR_info'] == 'No Flux Values')[0] #List of objects with NeII data
print('Total objects found with NeII, NeIII and NeV emission lines: ',len(NeII_NeIII_NeV_IR))
print('Total objects found with NeII and NeIII emission lines: ',len(NeII_NeIII_IR))
print('Total objects found with NeII and NeV emission lines: ',len(NeII_NeV_IR))
print('Total objects found with NeIII and NeV emission lines: ',len(NeIII_NeV_IR))
print('Total objects found with NeIII emission lines: ',len(NeIII_IR))
print('Total objects found with NeV emission lines: ',len(NeV_IR))
print('Total objects found with NeII emission lines: ',len(NeII_IR))
print('Total objects found with No Ne flux values: ',len(No_Ne_IR))

## Notebook Info

In [ ]:
%reload_ext watermark
%watermark -a "Jonhatan Bernal" -d -v -m
print('Specific Python packages')
%watermark -iv -w --packages astropy

### Las celdas a continuación son para pruebas:

In [ ]:
x=283
simbad_sample_Sy[x]

In [ ]:
nam=simbad_sample_Sy['main_id'][x]
other_ids = Simbad.query_objectids(nam)
other_ids

In [ ]:
for _id in other_ids['ID']:
    try:
        ned_tab= Ned.get_table(_id, table='photometry')
        print('si ',_id)
        break   
    except:
        print('no ',_id)
        if _id == other_ids['ID'][-1]:
            continue

In [ ]:
obj_ids_SMB[x]

In [ ]:
o_ids = obj_ids_SMB[x].split('|')
for other_id in o_ids:
    print(other_id)