In [1]:
from datetime import date
import time

import pyvo
import numpy as np
from astroquery.ned import Ned
from astroquery.simbad import Simbad

import astropy.units as u
from astropy.table import hstack
from astropy.coordinates import SkyCoord

In [2]:
path='../Datos/'

In [3]:
Ne_IR_obj=[]

with open(path+'Obj_with_Ne-IR_Oct_12_2021.txt') as datos:
    for line in datos:
        inner_list = line.split('\n')
        Ne_IR_obj.append(inner_list[0])
        
del Ne_IR_obj[0:2] #Delete the first to lines (txt header '#')

In [4]:
len(Ne_IR_obj)

347

Celdas para pruebas:

In [9]:
x=0
result_table_ned = Ned.query_object(Ne_IR_obj[x])
result_table_ned

<Table length=1>
 No.         Object Name            RA     ... Diameter Points Associations
                                 degrees   ...
int32           str30            float64   ...      int32         int32
----- ------------------------- ---------- ... --------------- ------------
    1 WISEA J140931.24+051131.6  212.38024 ...               4            0

In [10]:
result_table_smb = Simbad.query_object(Ne_IR_obj[x])
result_table_smb

<Table length=1>
  MAIN_ID         RA          DEC      ...     COO_BIBCODE     SCRIPT_NUMBER_ID
               "h:m:s"      "d:m:s"    ...
   object       str13        str13     ...        object            int32
------------ ------------ ------------ ... ------------------- ----------------
LEDA  165630 14 09 31.257 +05 11 31.31 ... 2009ApJS..182..543A                1

In [11]:
Ne_IR_obj[x]

'LEDA  165630'

In [8]:
%load_ext watermark
%watermark -a "Jonhatan Bernal" -d -v -m
print('Specific Python packages')
%watermark -iv -w --packages astropy

Author: Jonhatan Bernal

Python implementation: CPython
Python version       : 3.8.8
IPython version      : 7.27.0

Compiler    : MSC v.1928 64 bit (AMD64)
OS          : Windows
Release     : 10
Machine     : AMD64
Processor   : AMD64 Family 21 Model 2 Stepping 0, AuthenticAMD
CPU cores   : 8
Architecture: 64bit

Specific Python packages
astropy: 4.3.1

numpy  : 1.20.3
pyvo   : 1.1
astropy: 4.3.1

Watermark: 2.2.0