# Obtain data of AGN from SIMBAD and filtering Ne II and Ne III Passband from NED data

The code to obtain the data from SIMBAD is based in Andres Ramos's work to obtain Seyfert Samples (https://github.com/aframosp/AGNView)

Here we use [Astroquery](https://astroquery.readthedocs.io/en/latest/index.html) package to retriev the data.

In [1]:
from datetime import date

import pyvo
import numpy as np
from astroquery.ned import Ned

import astropy.units as u
from astropy.table import hstack
from astropy.coordinates import SkyCoord

Using the package **[PyVO](https://pyvo.readthedocs.io/en/latest/#)** we can access to remote data and services like the **TAP Service of SIMBAD [SIMBAD](http://simbad.u-strasbg.fr/simbad/sim-tap)** to find and retrieve the astronomical data that we need, in this case: Seyfert Galaxies. To achive that, we use a script with **[ADQL](https://www.ivoa.net/documents/latest/ADQL.html) (Astronomical Data Query Language)**, which is based on SQL.

On the script we used the next **Field Names** for VOTable ouput:
- ra: Right ascension
- dec: Declination
- coo_bibcode: Bibliographical reference for coordinates
- otype_txt: Object type
- rvz_bibcode: Bibliographical reference of radial velocity and redshift
- rvz_radvel: Stored value. Either a radial velocity, or a redshift, depending on the rvz_type field 
- rvz_redshift
- rvz_type: Stored type of velocity: 'v'=radial velocity, 'z'=redshift
- nbref: bibliographical reference

~~~~sql
SELECT main_id
	,ra
	,dec
	,coo_bibcode
	,otype_txt
	,rvz_bibcode
	,rvz_radvel
	,rvz_redshift
	,rvz_type
	,nbref
	,alltypes.otypes
FROM basic
JOIN alltypes ON oid = oidref
WHERE basic.otype = 'Sy1'
	OR basic.otype = 'Sy2'
	OR basic.otype = 'SyG'
~~~~

In [2]:
service = pyvo.dal.TAPService("http://simbad.u-strasbg.fr:80/simbad/sim-tap")

result = service.search("""
SELECT main_id
    ,ra
    ,dec
    ,coo_bibcode
    ,otype_txt
    ,rvz_bibcode
    ,rvz_radvel
    ,rvz_redshift
    ,rvz_type
    ,nbref
    ,alltypes.otypes
FROM basic
JOIN alltypes ON oid = oidref
WHERE basic.otype = 'Sy1'
    OR basic.otype = 'Sy2'
    OR basic.otype = 'SyG'
""")

We save the date in a variable for use later in the file names of the results

In [3]:
today = date.today()

The sample results is saved in a .csv file:

In [4]:
simbad_sample_Sy = result.to_table()
simbad_sample_Sy.write(today.strftime('%b_%d_%Y')+'_Sy_Samples'+'.csv',
                    format='ascii.csv',overwrite=True)

Using **SkyCoord** from astropy we extract the coordinates information for each object from the SIMBAD samples. This is because when we search the information in [NED](https://ned.ipac.caltech.edu/) using the object id that we obtained from SIMBAD, sometimes it doesn't reconigze it, so we will use coordinates instead

In [5]:
cat_smb_sample = SkyCoord(ra=simbad_sample_Sy['ra'], dec=simbad_sample_Sy['dec'])

In the next part of the code we are going to filter the samples that have Ne II, Ne III and Ne V data. First we define a variable with the names of the **"Observed Passband"** for Ne II, Ne III and Ne V. Then with the first loop we will get the photometry table for each object sample, specifically the "Observed Passband Colum" of that tables for search in the second loop all the objects that have data in the Ne passbands

In [74]:
Ne_PB=['[Ne II] 12.81 (IRS)','[Ne II] 12.8 Spitzer','[Ne II] 12.8 (IRS)','[Ne V] 14.32 (IRS)',
       '[Ne V] 14.32 Spitzer','[Ne V] 14.32','[Ne V] 14.32 (IRS)','[Ne V] 14.3 Spitzer',
       '[Ne III] 15.56 (IRS)','[NeIII] 15.6 Spitzer','[Ne III] 15.56 (IRS)','[Ne III] (Spitzer)']


for i in range(100):
    print(i)
    result_table = Ned.query_region(cat_smb_sample[i],radius=0.0005 * u.deg) #For obtaining the data from NED for each sample
    print('\n')
    print(result_table) # an astropy.table.Table
    obj_name=result_table["Object Name"] #Preferred object name in NED
    phot_table = Ned.get_table(obj_name, table='photometry') #We get the photometry table from NED for each sample
    #print(phot_table["Observed Passband"])
    len_table = len(phot_table) #Lenght of the photometry data
    #print(len_table)
    
    imprimir=True
    
    for j in range(len_table):
        Passband=phot_table["Observed Passband"][j] #We get the name for each Observed Passband
        if (Passband==Ne_PB[0] or Passband==Ne_PB[1] or Passband==Ne_PB[2] or Passband==Ne_PB[3] or 
            Passband==Ne_PB[4] or Passband==Ne_PB[5] or Passband==Ne_PB[6] or Passband==Ne_PB[7] or
            Passband==Ne_PB[8] or Passband==Ne_PB[9] or Passband==Ne_PB[10] or Passband==Ne_PB[11]):
            #print(result_table) # an astropy.table.Table
            #print(phot_table["Observed Passband"])
            print(phot_table["Observed Passband","Photometry Measurement"][j])
            #imprimir=False

0


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J140931.24+051131.6  212.38024 ...               4            0
 Observed Passband  Photometry Measurement
------------------- ----------------------
[Ne II] 12.81 (IRS)               1.33e-21
Observed Passband  Photometry Measurement
------------------ ----------------------
[Ne V] 14.32 (IRS)                     --
 Observed Passband   Photometry Measurement
-------------------- ----------------------
[Ne III] 15.56 (IRS)               2.01e-21
1


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J100346.54+122201.2  150.94397 ...               8            0
2


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J032518.46-060738.4   51.32687 ...               8            1
3


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J032822.58-064336.0   52.09412 ...               8            0
4


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J033852.90+001904.6   54.72045 ...               8            0
5


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J034007.61-004632.6   55.03176 ...               8            0
6


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J032328.46-371009.2   50.86854 ...               0            0
7


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J132410.11+641005.3  201.04213 ...               8            0
8


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J034430.15+000407.3   56.12569 ...               8            0
9


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J034605.49-053158.9   56.52293 ...               8            0
10


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J034900.90-045339.5   57.25371 ...               8            0
11


No. Object Name     RA     ... Redshift Points Diameter Points Associations
                 degrees   ...
--- ----------- ---------- ... --------------- --------------- ------------
  1   NGC 3758E  174.12244 ...              13               6            0
12


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J060210.47+282819.4   90.54366 ...               0            0
13


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J035704.41-050843.7   59.26843 ...               8            0
14


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J040030.46-053319.1     60.127 ...               8            0
15


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J041122.76-054105.2   62.84481 ...               8            0
16


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J044552.71-061520.8   71.46966 ...               0            0
17


No.       Object Name            RA     ... Diameter Points Associations
                              degrees   ...
--- ------------------------ ---------- ... --------------- ------------
  1 SDSS J132421.20+455934.4  201.08835 ...               4            0
18


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J071933.35+403253.0  109.88895 ...               4            0
19


No. Object Name     RA     ... Redshift Points Diameter Points Associations
                 degrees   ...
--- ----------- ---------- ... --------------- --------------- ------------
  1    SHOC 279  147.33747 ...               5               8            0
20


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J092907.78+002636.9  142.28242 ...              10            0
21


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J013432.35-010437.5   23.63466 ...               8            0
22


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J090533.55+184002.8  136.38975 ...               6            0
23


No.  Object Name       RA     ... Redshift Points Diameter Points Associations
                    degrees   ...
--- -------------- ---------- ... --------------- --------------- ------------
  1 ESO 362- G 018   79.89916 ...              28              18            1
Observed Passband  Photometry Measurement
------------------ ----------------------
[Ne II] 12.8 (IRS)                1.6e-13
 Observed Passband  Photometry Measurement
------------------- ----------------------
[Ne II] 12.81 (IRS)               9.94e-21
 Observed Passband  Photometry Measurement
------------------- ----------------------
[Ne II] 12.81 (IRS)               1.24e-13
Observed Passband  Photometry Measurement
------------------ ----------------------
[Ne V] 14.32 (IRS)               3.27e-14
Observed Passband  Photometry Measurement
------------------ ----------------------
[Ne V] 14.32 (IRS)               3.15e-21
 Observed Passband   Photometry Measurement
-------------------- ----------------------
[Ne III] 15.56 (IRS)               7.16e-21
Observed Passband  Photometry Measurement
------------------ ----------------------
[Ne III] (Spitzer)                1.3e-20
 Observed Passband   Photometry Measurement
-------------------- ----------------------
[Ne III] 15.56 (IRS)               7.49e-14
24


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J073033.00+452847.7  112.63754 ...               4            0
25


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J073100.94+434518.6  112.75387 ...               4            0
26


No.       Object Name            RA     ... Diameter Points Associations
                              degrees   ...
--- ------------------------ ---------- ... --------------- ------------
  1 SDSS J073219.87+421707.2  113.08283 ...               4            0
27


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J073126.67+452217.3  112.86121 ...               6            0
28


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J073433.00+473404.9   113.6376 ...               4            0
29

No. Object Name     RA     ... Redshift Points Diameter Points Associations
                 degrees   ...
--- ----------- ---------- ... --------------- --------------- ------------
  1  MSPM 00581   182.2867 ...               1               0            0
  2    NGC 4135  182.28671 ...              15              14            0
30


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J073502.11+401024.5  113.75885 ...               4            0
31


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J120538.07+130229.9  181.40868 ...               8            0
32


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1 WISEA J121113.39+121937.4  182.80576 ...               8            0
33


No.        Object Name            RA     ... Diameter Points Associations
                               degrees   ...
--- ------------------------- ---------- ... --------------- ------------
  1         SDSS J0854+5026SW  133.56984 ...               0            0
  2 WISEA J085416.75+502631.9  133.56984 ...              10            0
  3         SDSS J0854+5026NE  133.57003 ...               0            0

RemoteServiceError: The remote service returned the following error message.
ERROR:  No Photometric data points found.

In [67]:
simbad_sample_Sy[33]

<Row index=33>
        main_id                  ra                dec            coo_bibcode     otype_txt     rvz_bibcode         rvz_radvel    rvz_redshift rvz_type nbref    otypes
                                deg                deg                                                                km / s
         object               float64            float64             object         object         object            float64        float64      str1   int32    object
------------------------ ------------------ ----------------- ------------------- --------- ------------------- ----------------- ------------ -------- ----- -----------
SDSS J085416.75+502631.9 133.56973333333335 50.44226944444444 2006AJ....131.1163S       Sy2 2016ApJ...832...67N 27314.34577581347     0.095668        z    14 Sy2|AGN|G